@mixin animate-text() {
  &:hover {
    p {
      transform: translateY(-100%);
    }
  }
  p {
    line-height: 24px;
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
    
    &:after {
      content: attr(data-link);
      position: absolute;
      top: 100%;
      right: 0;
    }
   }
}